PORT=3101
NODE_ENV=development
KAFKA_CLIENT_ID=banking-platform
KAFKA_BROKERS=localhost:9092
APP_NAME=CMS Banking Platform
DATABASE_URL=postgresql://postgres:your-url-encoded-password@db.your-project-ref.supabase.co:5432/postgres
